<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container-fluid topSplash">
        <div class="row">
            <div class="col-xs-offset-2 col-xs-8 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
                <img src="~/Content/images/GameLogo.png" style="width: 80%;" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-6 subBox">
                <h4>Project Phoenix Rising is a Third Person action MOBA in development by Visionary Games. Subscribe to our newsletter below to get the latest updates on the game's progress.</h4>
                <br />

                <div class="row">
                    <div class="col-xs-offset-1 col-xs-10  col-sm-offset-1 col-sm-7" style="background-color: white;">
                        bleh
                    </div>
                    <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-3" style="background-color: orange;">
                        bleh
                    </div>
                </div>

                <br />
                <h4>You can also join the community on Reddit and Discord!</h4>
            </div>
        </div>
    </div>
    <div class="container-fluid mainContent">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
